.experience__description {
  width: 492px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #898e93;
  margin: 0;
}
