@import url(./__wrapper/tariffs__wrapper.css);
@import url(./__container/tariffs__container.css);
@import url(./__column/tariffs__column.css);
@import url(./__title/tariffs__title.css);
@import url(./__list/tariffs__list.css);
@import url(./__item/tariffs__item.css);
@import url(./__price/tariffs__price.css);
@import url(./__month/tariffs__month.css);

.tariffs {
    background-color: #F2F5F8;
    padding: 110px 0 40px;
    text-align: center;
}