.navigation__link {
    text-decoration: none;
    color: #00376E;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.navigation__link:hover {
    text-decoration: underline;
}