.navigation__link {
    font-family: 'Avenir Next', Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer;
}

.navigation__link:hover {
    text-decoration: underline;
}