.input {
  width: 218px;
  height: 52px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #979797;
  padding: 15px;
}

.input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.input:valid:not(:placeholder-shown) {
  border-color: rgb(12, 97, 187);
}
