.footer__social-link {
    display: inline-block;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 13px;
    cursor: pointer;
}

.footer__social-link:first-child {
    margin-left: 0;
}