.leadform__title {
  width: 1151px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: #00376e;
  margin: 0 0 5px;
}
