.business__title {
    max-width: 430px;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 124.1%;
    color: #00376E;
    margin: 0;
}