@import url(__wrapper/clients__wrapper.css);
@import url(__container/client__container.css);
@import url(./__area/clients__area.css);
@import url(./__client/clients__client.css);
@import url(./__image/clients__image.css);
@import url(./__name/clients__name.css);
@import url(./__review/clients__review.css);
@import url(./__image/clients__image.css);
@import url(./__title/clients__title.css);


.clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}