.experience__title {
  max-width: 493px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 124.1%;

  color: #00376e;
  margin: 0;
  margin-bottom: 15px;
}
