@import url(./__container/business__container.css);
@import url(./__wrapper/business__wrapper.css);
@import url(./__description/business__description.css);
@import url(./__image/business__image.css);
@import url(./__title/business__title.css);

.business {
    padding: 60px 0 82px;
}
