@import url(./__container/leadform__container.css);
@import url(./__title/leadform__title.css);
@import url(./__subtitle/leadform__subtitle.css);
@import url(./input/input.css);
@import url(./__form/leadform__form.css);


.leadform {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F2F5F8;
    padding: 56px 0;
}