@import url(__wrapper/leadform__wrapper.css);
@import url(./__title/leadform__title.css);
@import url(./__subtitle/leadform__subtitle.css);
@import url(./input/input.css);
@import url(./__form/leadform__form.css);


.leadform {
    background: #F2F5F8;
    padding: 50px 0 65px;
}