.button {
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #026AD6;
    box-shadow: 0px 6px 17px rgba(1, 30, 60, 0.15);
    border-radius: 3px;
    border-style: none;
}

.button:hover {
    background-color: rgb(12, 97, 187);
}