.button {
  font: normal 900 15px/18px Avenir Next;
  text-transform: uppercase;
  background-color: #026ad6;
  box-shadow: 0 6px 17px rgba(1, 30, 60, 0.15);
  color: white;
  line-height: 3.25;
  border-radius: 3px;
  padding: 0;
}

.button:hover {
  background-color: rgb(12, 97, 187);
  cursor: pointer;
}
