.button {
  font: 700 1em/1 'Avenir Next', Arial, sans-serif;
  text-transform: uppercase;
  background-color: #026ad6;
  box-shadow: 0 0.4em 1em rgba(1, 30, 60, 0.15);
  color: white;
  border-radius: 3px;
  padding: 1em 2em;
  border-style: none;
}

.button:hover {
  background-color: rgb(12, 97, 187);
  cursor: pointer;
}
